{{extend name="public/base"}}
{{block name="content"}}
<!-- 查找最顶级栏目  -->
<section id="single">
	<!-- 查找子栏目  -->
	<div class="cat_title">
		<div class="wrapper">
			<h2><strong>ABOUT</strong>关于我们</h2>
			<p>我们是谁？<br/>Who are we?</p>
		</div>
	</div>
	<div class="category">
		<div class="wrapper">
			<h1>关于</h1>
            
            <ul class="catbtn">
            
			</ul>
		</div>
	</div>
	<article class="serv_detailed">
		<div id="detailed">
		<p class="t4">[专业+专注]</p>
<div class="t4Content">
<ul>
<li>我们致力于为顾客提供网站建设系统、网站管理系统、网站维护系统。</li>
<li>我们专注于企业网站设计制作，为企业提供全程网络解决方案。</li>
</ul>
</div>
<p class="t4">[GOMEEN,中文世界最专业的会议活动平台]</p>
<div class="t4Content">
<ul>
<li>共鸣网致力于在专业化层面为大众提供一个便捷有效的活动、会议网络平台。通过会议发布、会议选址、与会人员统计、专家稿件审查、审稿回馈、酒店预订、旅游线路规划等一体化服务，简化办会事宜，明晰会议进程，让你轻松办会，轻松共鸣。</li>

</ul>
</div>
        </div>
		<div id="case_footer"></div>
	</article>
</section>
{{/block}}
{{block name="js"}}
<script type="text/javascript">
	$("#gotop").click(function(){$('body,html').animate({scrollTop:0},500);})
</script>
{{/block}}