{{extend name="public/contentBase"}}
{{block name="content"}}
<div class="page-content-wrap">
				<form action="{{:url('admin/article/save')}}" method="post" enctype="multipart/form-data" class="layui-form">
					<div class="layui-tab" style="margin: 0;">
						<div class="layui-tab-content">
							<div class="layui-tab-item"></div>
							<div class="layui-tab-item layui-show">
								<div class="layui-form-item">
									<label class="layui-form-label">文章名称：</label>
									<div class="layui-input-block">
										<input type="text" name="subject" required lay-verify="required" placeholder="请输入文章名称" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">分类栏目：</label>
									<div class="layui-input-block">
										<select name="category_id" lay-verify="required">
											<option value="">请选择分类栏目</option>
											{{volist name="cs" id="vo"}}
			    							<option value="{{$vo.id}}">{{$vo.category_name}}</option>
        									{{/volist}}
										</select>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">图像上传：</label>
									<div class="layui-input-block">
										<input type="file" name="subject_picture" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">标签：</label>
									<div class="layui-input-block">
										<input type="radio" name="is_online" value="1" title="上线" checked>
										<input type="radio" name="is_online" value="0" title="下线">
									</div>
								</div>
								<div class="layui-form-item layui-form-text">
									<label class="layui-form-label">文章内容：</label>
									<div class="layui-input-block">
										<textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="padding-left: 10px;">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
		</div>
		
{{/block}}

{{block name="js"}}
		{{load file="__STATIC__/admin/js/common.js"}}
		<script>
			layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog',  'element', 'upload', 'layedit'], function() {
				var form = layui.form(),
					layer = layui.layer,
					$ = layui.jquery,
					laypage = layui.laypage,
					laydate = layui.laydate,
					layedit = layui.layedit,
					element = layui.element(),
					dialog = layui.dialog;

				//获取当前iframe的name值
				var iframeObj = $(window.frameElement).attr('name');
				//创建一个编辑器
				var editIndex = layedit.build('LAY_demo_editor', {
					tool: ['strong' //加粗
						, 'italic' //斜体
						, 'underline' //下划线
						, 'del' //删除线
						, '|' //分割线
						, 'left' //左对齐
						, 'center' //居中对齐
						, 'right' //右对齐
						, 'link' //超链接
						, 'unlink' //清除链接
					],
					height: 100
				})
			});
		</script>
{{/block}}