{{extend name="public/contentBase"}}
{{block name="content"}}
	<div class="wrap-container clearfix">
				<div class="column-content-detail">
					<form class="layui-form" action="">
						<div class="layui-form-item">
							<div class="layui-inline tool-btn">
								<button class="layui-btn layui-btn-small layui-btn-normal addBtn" data-url="{{:url('admin/article/create')}}"><i class="layui-icon">&#xe654;</i></button>
							</div>
							<div class="layui-inline">
								<input type="text" name="subject" value="{{:input('param.subject')}}" placeholder="请输入标题" autocomplete="off" class="layui-input">
							</div>
							<button class="layui-btn layui-btn-normal" lay-submit="search">搜索</button>
						</div>
					</form>
					<div class="layui-form" id="table-list">
						<table class="layui-table" lay-even lay-skin="nob">
							<colgroup>
								<col>
								<col>
								<col>
								<col>
								<col>
								<col>
								<col>
								<col>
							</colgroup>
							<thead>
								<tr>
									<th>序号</th>
									<th>标题</th>
									<td>作者</td>
									<td>所属分类</td>
									<td>浏览量</td>
									<td>评论数</td>
									<th>创建时间</th>
									<th>修改时间</th>
									<th>状态</th>
									<th style="width: 200px;">操作</th>
								</tr>
							</thead>
							<tbody>
								{{volist name="list" id="vo"}}
								<tr>
									<td>{{$key+1}}</td>
									<td>{{$vo.subject}}</td>
									<td>{{$vo.author.adminname}}</td>
									<td>{{$vo.category.category_name}}</td>
									<td>{{$vo.browse_times}}</td>
									<td>{{$vo.comment_number}}</td>
									<td>{{$vo.created_at}}</td>
									<td>{{$vo.updated_at}}</td>
									<td><a href="{{:url('admin/article/isOnline',['id' => $vo.id,'is_online' => $vo->getData('is_online')])}}">{{$vo.is_online}}</a></td>
									<td style="width: 100px;">
										<div class="layui-inline">
											<button class="layui-btn layui-btn-small layui-btn-normal go-btn" data-id="{{$vo.id}}" data-url="{{:url('index/article/detail')}}">
												<i title="查看" class="layui-icon">&#xe615;</i>
											</button>
											<button class="layui-btn layui-btn-small layui-btn-normal go-btn" data-id="{{$vo.id}}" data-url="{{:url('admin/article/edit')}}">
												<i title="编辑" class="layui-icon">&#xe642;</i>
											</button>
											<button class="layui-btn layui-btn-small layui-btn-danger del-btn" data-id="{{$vo.id}}" data-url="{{:url('admin/article/delete')}}">
												<i title="删除" class="layui-icon">&#xe640;</i>
											</button>
										</div>
									</td>
								</tr>
								{{/volist}}
							</tbody>
						</table>
						{{$list:render()}}
					</div>
				</div>
	</div>
{{/block}}
{{block name="js"}}
{{load file="__STATIC__/admin/js/common.js"}}
{{/block}}