{{extend name="public/subtemplate"}}
{{block name="content"}}
  <div class="col-sm-9">
    {{volist name="list" id="data"}}
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">订单号: {{$data.order_sn}} <span class="pull-right">下单时间: {{$data.created_at}}</span></h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-condensed table-hover table-striped">
          <tr>
            <td style="vertical-align: middle;">商品</td>
            <td style="vertical-align: middle;">单价</td>
            <td style="vertical-align: middle;">数量</td>
            <td style="vertical-align: middle;">总价</td>
            <td style="vertical-align: middle;">收货人</td>
            <td style="vertical-align: middle;">状态</td>
            <td style="vertical-align: middle;">操作</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;"><a href="{{:url('index/product/read',['id'=>$data.product_id])}}"><img src="__STATIC__/upload/{{$data.product.image}}" height="50px" width="50px">{{$data.product.title}}</a></td>
            <td style="vertical-align: middle;">{{$data.product.price}}</td>
            <td style="vertical-align: middle;"><span>{{$data.product_number}}</span></td>
            <td style="vertical-align: middle;"><span>{{$data.order_amount}}</span></td>
            <td style="vertical-align: middle;"><span>{{$data.userAddress.username}}</span></td>
            <td style="vertical-align: middle;"><span>{{$data.status}}</span></td>
            <td style="vertical-align: middle;">
              {{if condition="$data->getData('status')==0"}}
              <a href="" class="btn btn-success">去付款</a>
              {{/if}}
            </td>
          </tr>
        </table>
      </div>
    </div>
    {{/volist}}
  </div>
{{/block}}
{{block name="js"}}
<script type="text/javascript">
//<![CDATA[
  //Nav Start
  $("header>div>nav>ul>li>a").hover(function(){
    $(this).parent().stop(false,true).animate({"background-position-x":"6px",opacity:"0.7"},{duration:"normal", easing: "easeOutElastic"});
  },function(){
    $(this).parent().stop(false,true).animate({"background-position-x":"10px",opacity:"1"},{duration:"normal", easing: "easeOutElastic"});
  });
  
  $("#caseslist>.cases>li").live({mouseenter:function(){
    $("p",this).stop(false,true).slideDown("normal","easeOutQuad");
  },mouseleave:function(){
    $("p",this).stop(false,true).slideUp("normal","easeOutQuad");
  }});

  $("#gotop").click(function(){$('body,html').animate({scrollTop:0},500);})

</script>
{{/block}}