<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1024" />
<meta name="baidu-site-verification" content="3ztG4oI0ku" />
<title>全能</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
{{load file="__STATIC__/index/css/style.css"}}
{{block name="css"}}{{/block}}
</head>
<body style="min-height: 600px;">

{{include file="public/header"}}

{{block name="left"}}{{/block}}
{{block name="content"}}{{/block}}
{{block name="right"}}{{/block}}

{{include file="public/footer"}}
  
{{load file="__STATIC__/index/js/jquery.1.8.2.min.js"}}
{{load file="__STATIC__/index/js/jquery.plugin.min.js"}}
  
{{block name="js"}}{{/block}}
</body>
</html>