<footer>
  <div id="footerlink">
			<nav class="wrapper">
				<a href="{{:url('index/index/index')}}">首页</a>
				<a href="{{:url('index/index/about')}}">关于</a>
				<a href="{{:url('index/index/service')}}">服务</a>
				<a href="{{:url('index/product/index')}}">企业产品</a>
				<a href="{{:url('index/article/index')}}">新闻</a>
				<a id="gotop" href="javascript:void(0)">top</a>
			</nav>
		</div>
  <div id="footerinfo">
    <div class="wrapper">
				<h2>联系我们<strong>Contact</strong></h2>
        <p>
                                        <a target="_blank" href="javascript:if(confirm('http://wpa.qq.com/msgrd?v=3&uin=1091457004&site=qq&menu=yes'))window.location='http://wpa.qq.com/msgrd?v=3&uin=1091457004&site=qq&menu=yes'"><img border="0" src="__STATIC__/index/images/qq.png"  alt="点击这里给我发消息" title="点击这里给我发消息"/></a><br/>
					电话：400 8888 8888<br/>
                                        传真：12345678912<br/>                                       
                                        电子邮件：1091457004@qq.com<br/>
					公司地址：重庆市某某某某某某某某某<br/>
					备案编号：渝ICP备19005606号<br/>
					Copyright © 2013 - 2014 mycodes.net All rights reserved. 
				</p>
				<img src="__STATIC__/index/images/map.gif" id="homemap" width="258" height="190" alt="公司位置" />
			</div>
    <div class="links">
      <h2>友情链接<strong>Links</strong></h2>
      <p>
      	<ul>
      		<li>
        		quanleng <a href="" target="_blank" title="兄弟网站">兄弟网站</a> - welcome <a href="" title="好友商城" target="_blank">好友商城</a> 
        	</li>
        	<li>
        		quanleng <a href="" target="_blank" title="兄弟网站">兄弟网站</a> - welcome <a href="" title="好友商城" target="_blank">好友商城</a> 
        	</li>
        	<li>
        		quanleng <a href="" target="_blank" title="兄弟网站">兄弟网站</a> - welcome <a href="" title="好友商城" target="_blank">好友商城</a>
        	</li>
        	<li>
        		quanleng <a href="" target="_blank" title="兄弟网站">兄弟网站</a> - welcome <a href="" title="好友商城" target="_blank">好友商城</a> 
        	</li> 
      	</ul>
      </p>
    </div>
  </div>
</footer>