<header>
	<div id="navbg"></div>
	<div class="wrapper">
		<h1 class="logo">
			<a href="{{:url('index/index/index')}}"  title="">
				<img src="__STATIC__/index/images/logo.png" width="180" height="50" alt="" />
			</a>
		</h1>
		<nav>
			<ul>
				<li class="home"><a href="{{:url('index/index/index')}}" >首页<span>网站首页！</span></a></li>
				<li class="about"><a href="{{:url('index/index/about')}}"  title="关于我们">关于<span>我们是谁？</span></a></li>
				<li class="service"><a href="{{:url('index/index/service')}}"  title="服务">服务<span>我们能做什么？</span></a></li>
				<li class="cases"><a href="{{:url('index/product/index')}}" title="企业产品">企业产品<span>我们在卖什么？</span></a></li>
				<li class="client"><a href="{{:url('index/article/index')}}"  title="新闻">新闻<span>了解最新动态!</span></a></li>
			</ul>
		</nav>
    </div>
</header>